body { 
  padding-top: 50px; 
  
}

.navbar .navbar-nav a.nav-link {
  font-weight: bold;
}

.navbar .navbar-nav a.nav-link:hover {
  text-decoration: underline;
}

.jumbotron {
  background-color: transparent;
  width: 100%;
}

#jumbotron-text {
  text-align: center;
  font-weight: bold;
  margin: 10% 20% 10% 20%;
  padding-top: 50px
}

.jumbotron-image {
  background-image: url("https://farm2.staticflickr.com/1939/45219113931_a0e0909f2f_o.png");
}

#welcome-section {
	height: 100vh;
}

.about {
  background-color: black;
  color: white;
  text-align: center;
  padding: 100px 100px 100px 100px;
}

.about-text {
  margin: 10% 20% 10% 20%;
}

.projects {
  text-align: center;
  font-weight: bold;
}

#project-text {
  margin: 50px 0 50px 0;
}

.project-img {
  padding: 5% 5% 5% 5%;
}

.contact {
  background-color: black;
  color: white;
}

.contact-address, .contact-social {
  padding: 5% 5% 5% 5%;
}

.fab {
  margin: 10px 20px 0 5px;
}

.contact a {
  color: white;
}

.contact a:hover {
  color: grey;
}

.disclaimer {
  margin-top: 25px;
}

#profile-link {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
    #jumbotron-text {
      font-size: 50px;
    }
}
